/* Add CSS styling here */

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
  /*   border:1px solid grey; */
  }
  
  html{
    font-size:62.5%;
  }

  body{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.6rem;
  }

  h1, h2{
    font-family: 'Roboto Slab', serif;
    font-size: 2.1rem;
  }


  header{
      /* border: 1px solid red; */
      background-color: #1C2128;
      height: 20vh;
      padding: 2%;
  }

  header h1{
    /* border: 1px solid red; */
    width: 20%;
    font-size: 3.5rem;
    color: #E1E2E2;

  }

  @media (max-width:400px){
    header h1{
      font-size: 2.5rem;
      width: 100%;
      padding: 4%;
    }
  }

  header nav{
    /* border: 1px solid red; */
    width: 40%;
    display: flex;
    padding: 1% 2%;
  }

  @media (max-width:400px){
    header nav{
      width: 100%;
      
    }
  }

  header nav a{
      font-size: 1.8rem;
      padding: 2%;
      /* border: 2px solid #E1E2E2; */
      width: 20%;
      text-align: center;
      text-decoration: none;
      color: #E1E2E2;
  }

.description {
    /* border: 1px solid red; */
    width: 100%;
    padding: 5% ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

}

@media (max-width:400px){
  .description{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.pic{
    /* border: 1px solid red; */
    width: 40%;
}

@media (max-width:400px){
  .pic{
    width: 50%;
    
  }
}

.about-me{
    /* border: 1px solid red; */
    width: 50%;
    /* padding: 5%; */
}

@media (max-width:400px){
  .about-me{
    width: 90%;
    text-align: center;
  }
}



.about-me h2{
  font-size: 3.2rem;
  padding: 2% 0;
  color: #1C2128;
}

@media (max-width:400px){
  .about-me h2{
    font-size: 2.1rem;
  }
}

.about-me button{
  background-color: #F78D1E;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1.5%;
  width: 25%;
  font-size: 1.8rem;
}

@media (max-width:400px){
  .about-me button{
    width: 40%;
    font-size: 1.4rem;
    padding: 2%;
  }
}

.about-me p{
  padding: 2% 0;
  width: 65%;
  font-size: 1.8rem;
}

@media (max-width:400px){
  .about-me p{
    font-size: 1.2rem;
    width: 100%;
  }
}

.gallery{
  /* border: 1px solid red; */
  background-color: #1C2128;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;

}

.gallery div{
  /* border: 5px solid white; */
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 3% 2% 2%;
}

@media (max-width:400px){
  .gallery div{
    width: 50%;
  }
}

.gallery h3{
  /* border: 1px solid white; */
  color: white;
  text-align: center;
  font-size: 1.8rem;
  padding: 3% 0 0;
  
}

@media (max-width:400px){
  .gallery h3{
    font-size: 1.2rem;
  }
}

footer{
  /* border: 1px solid red; */
  width: 100%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer p{
  font-size: 2.8rem;
  text-align: center;
  padding: 1%;
  color: #1C2128;
}

@media (max-width:400px){
  footer p{
    font-size: 1.8rem;
  }  
}

footer button{
  background-color: #F78D1E;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1%;
  width: 15%;
  font-size: 1.8rem;
}

@media (max-width:400px){
  footer button{
    width: 40%;
    font-size: 1.4rem;
    padding: 2%;
  }
}

footer .social{
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}


@media (max-width:400px){
  footer .social{
    width: 40%;
  }
}
